<div class="container logincard">
  <%= link_to user_facebook_omniauth_authorize_url(),
      class: "btn btn-lg btn-fb" do %>
    <i class="fa fa-facebook-square"></i> Connect with Facebook
  <% end %>
  <%= link_to user_facebook_omniauth_authorize_url(),
      class: "btn btn-lg btn-insta" do %>
    <i class="fa fa-instagram"></i> Connect with Instagram
  <% end %>
</div>
