<div class="container">
  <div class="row">
    <form action="/albums" method="post" enctype="multipart/form-data">
      <input type="text" class="form-control" name="title" placeholder="Album title">
      <input type="file" class="form-control" name="img[]" multiple accept="image/*">
      <input type="submit" class="btn btn-primary">
    </form>
  </div>  
</div>
