<div class="row">
  <form action="/images" method="post" enctype="multipart/form-data">
    <input type="text" class="form-control" name="album_id" placeholder="Album id">
    <input type="file" class="form-control" name="img">
    <input type="submit" class="btn btn-primary">
  </form>
</div>